.as {
    text-decoration: underline;
    transition: .3s .3s ease-in-out;
}

.as:hover {
    font-size: 80px;
    transition: .3s .3s ease-in-out;
}

.bodyodd {
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

